<p>
  <mat-toolbar label="page-title" class="title-toolbar">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
      <span class="span">{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- todo put icons at the right end -->
  <mat-toolbar label="page-icons" class="icon-spacer">
    <!-- todo create favourite in browser -->
    <button mat-icon-button class="example-icon favorite-icon" aria-label="icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>

    <!-- share button -->
    <app-share></app-share>

  </mat-toolbar>
</p>
