
.mat-toolbar {
  background-color: rgba(255, 235, 205, 0.45);
}

.mat-toolbar-placeholder {
  height: 2em;
}

.fancy-title {
  text-shadow: 2px 1px 6px lightslategrey;
}

.spacer {
  flex: 1 1 auto;
}

.mat-menu-content {
  background-color: rgba(211, 211, 211, 0.35);
}

.facebook-icon {
  color: royalblue;
}

.twitter-icon {
  color: dodgerblue;
}
